@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dropGroup: oklch(var(--p));


  --jade0: #5D6D70;

  --bluegray0: #949BA0;
  --bluegray1: #BCD4DE;
  --bluegray2: #9DACB2;
  --bluegray3: #A5CCD1;

  --MC-bg: #5D6D70;
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

body {

  font-family: Arial, Helvetica, sans-serif;
}

.mlr-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

#profile-bar {
  background-color: aqua !important;
}